body {
    background-color: #e6e6fa;
    max-width: 800px; /* Обмежити ширину контенту */
    margin: 0 auto; /* Відцентрувати контент на сторінці */
    padding: 20px; /* Додати відступи навколо контенту */
}

a {
    color: #ff69b4; /* колір гіперпосилань */
    text-decoration: none; /* Видалити підкреслення */
}
h1 {
    text-align: center;
    font-size: 2em;
    color: #4b0082;
    margin-top: 30px;
}

p, tr {
    font-size: 1.5em;
    color: #4b0082;
    line-height: 1.5; /* Міжрядковий інтервал */
}

.small-image {
    width: 50px;
    height: 50px;
    border-radius: 10px; /* Закруглені кути */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тінь */
    margin: 10px; /* Відступи навколо зображень */
}
.large-image {
    width: 211px;
    height: 211px;
    border-radius: 10px; /* Закруглені кути */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тінь */
    margin: 10px; /* Відступи навколо зображень */
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px; /* Додатковий відступ між елементами */

}
.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.image-container img {
    width: 211px;
    height: 211px;
    border-radius: 10px; /* Закруглені кути */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тінь */
    margin: 10px; /* Відступи навколо зображень */
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%; /* Розтягнути таблицю на всю ширину контейнера */
    margin-bottom: 20px; /* Додатковий відступ після таблиці */
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #dda0dd;
}
nav {
    text-align: center; /* Вирівняти навігаційне меню по центру */
    margin-top: 20px; /* Відступи від верхнього контенту */
    font-size: 1.2em; /* Збільшити розмір тексту посилань */
}
.video-container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

nav a {
    padding: 5px 10px; /* Відступи внутрішньої частини посилань */
    margin: 0 5px; /* Зовнішні відступи між посиланнями */
    border-radius: 5px; /* Закруглені кути посилань */
    background-color: #ff69b4; /* Рожевий колір фону посилань */
    color: #fff; /* Колір тексту посилань */
}
nav a:hover {
    background-color: #4b0082; /* Індіго при наведенні */
}

a:hover {
    text-decoration: underline; /* Підкреслений при наведенні */
}


/* Стилі для кнопок */
button {
    padding: 10px 20px; /* Відступи внутрішньої частини кнопок */
    margin: 10px; /* Зовнішні відступи між кнопками */
    border-radius: 5px; /* Закруглені кути кнопок */
    background-color: #ff69b4; /* Рожевий колір фону кнопок */
    color: #fff; /* Колір тексту кнопок */
    border: none; /* Відсутність рамки */
    cursor: pointer; /* Змінити курсор при наведенні */
    font-size: 1em; /* Розмір тексту кнопок */
}

button:hover {
    background-color: #4b0082; /* Індіго при наведенні */
}

.active {
    background-color: yellow; /* Призначте потрібний колір підсвічування */
}

.image-containers {
    text-align: center;
}
